DB_HOST=localhost
DB_PORT=3306
DB_USER=ozcoding
DB_PASSWORD=pw1234
DB_ROOT_PASSWORD=Password123@!
DB_NAME=ai_health

JWT_SECRET_KEY=충분히_긴_랜덤_문자열
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7